@model memo.Models.Pytanie
@Styles.Render("~/Content/PytanieStyle.css")
@using (Html.BeginForm("Pytanie", "Slowko", FormMethod.Post))
{
    <table>
@if (Model != null) {
        <tr>
            <th>
                Pytanie: @Html.LabelFor(model => model.pytanie, @Model.pytanie)
                @Html.HiddenFor(model => model.pytanie, @Model.pytanie)
                @Html.HiddenFor(model => model.poprawna_odpowiedz, @Model.poprawna_odpowiedz)
            </th>
        </tr>
    }
        @*@if (ViewBag.Odpowiedz)
        {
            <tr>
                <th>
                    @Html.TextBoxFor(model => model.poprawna_odpowiedz)
                </th>
            </tr>
        }*@
@if (Model != null) {
        <tr>
            <th>
                @Html.TextBoxFor(model => model.odpowiedz_uzytkownika)
            </th>
        </tr>

        <tr>
            <th>
                <input type="submit" value="Zapisz" class="btn btn-default" />
            </th>
        </tr>
        }
        else {
        <tr>
            <th>
                <input type="submit" value="Następna zagadka" class="btn btn-default" />
            </th>
        </tr>
        }

    </table>
}

