@model memo.Models.Pytanie

@Styles.Render("~/Content/PytanieStyle.css")

@Scripts.Render("~/Scripts/jquery-1.10.2.js")
@Scripts.Render("~/Scripts/PytanieScript.js")

@using (Html.BeginForm("Pytanie", "Slowko", FormMethod.Post))
{
<div>
    @if (ViewBag.czy_poprawna_odpowiedz != null)
    {
        <div id="wynik">
            <table>


                @if (ViewBag.czy_poprawna_odpowiedz)
                {
                    <tr>
                        <th id="dobra">
                            DOBRA ODPOWIEDŹ!
                        </th>
                    </tr>
                    <tr>
                        <th id="dobra">
                            @ViewBag.pytanie - @ViewBag.odpowiedz
                        </th>
                    </tr>
                }
                else
                {
                    <tr>
                        <th id="zla">
                            ZŁA ODPOWIEDŹ!
                        </th>
                    </tr>
                    <tr>
                        <th id="zla">
                            @ViewBag.pytanie - @ViewBag.odpowiedz
                        </th>
                    </tr>
                }

                <tr>
                    <th>
                        Masz @ViewBag.dobre_odpowiedzi dobrych odpowiedzi i @ViewBag.zle_odpowiedzi złych odpowiedzi.
                    </th>
                </tr>
                <tr>
                    <th>
                        <input type="submit" value="Następna zagadka" class="btn btn-default" />
                    </th>
                </tr>

            </table>
        </div>
    }
@if (Model != null)
{
    <div id="zagadka" class="hidden">
        <table>
            <tr>
                <th>
                    Pytanie: @Html.LabelFor(model => model.pytanie, @Model.pytanie)
                    @Html.HiddenFor(model => model.pytanie, @Model.pytanie)
                    @Html.HiddenFor(model => model.poprawna_odpowiedz, @Model.poprawna_odpowiedz)
                </th>
            </tr>
            <tr>
                <th>
                    @Html.TextBoxFor(model => model.odpowiedz_uzytkownika)
                </th>
            </tr>

            <tr>
                <th>
                    <input type="submit" value="Zapisz" class="btn btn-default" />
                </th>
            </tr>
        </table>
    </div>
}

</div>
}

