@model memo.Models.slowko

<h2>Nowe Słowo</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @ViewBag.BrakDanych
        <div class="form-group">
            @Html.LabelFor(model => model.eng,"Wersja angielska", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.eng)
                @Html.ValidationMessageFor(model => model.eng)
                @ViewBag.Istnieje
            </div>
            
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pl,"Wersja polska", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pl)
                @Html.ValidationMessageFor(model => model.pl)
            </div>
        </div>
        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dodaj" class="btn btn-default" />
            </div>
        </div>
    </div>
}
