@model memo.Models.RejestracjaModel

@{
    ViewBag.Title = "Rejestracja";
}

<h2>Rejestracja</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.nazwa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                
                @Html.EditorFor(model => model.nazwa)
                @Html.ValidationMessageFor(model => model.nazwa)
            </div>
            @ViewBag.Uzytkownik
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.haslo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.haslo)
                @Html.ValidationMessageFor(model => model.haslo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hasloPowtorka, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hasloPowtorka)
                @Html.ValidationMessageFor(model => model.hasloPowtorka)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.regulamin, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.regulamin)
                @Html.ValidationMessageFor(model => model.regulamin)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Stwórz konto" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Zaloguj się!", "Zaloguj")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
