@model IEnumerable<memo.Models.uzytkownik>

@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

@using (Html.BeginForm("Test", "Slowko", FormMethod.Post))
{
    <table>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(x => item.nazwa)
                </td>
                <td>
                    @Html.DisplayFor(x => item.haslo)
                </td>
                <td>
                    @Html.DisplayFor(x => item.rola1.nazwa)
                </td>
                <td>
                    @Html.RadioButtonFor(x => item.rola1, item.rola1.nazwa) cos
                    @Html.RadioButtonFor(x => item.rola1.nazwa, "administrator") administrator
                    @Html.RadioButtonFor(x => item.rola1.nazwa, "zwykly") zwykly
                    
                </td>
                <td>
                    <input type="submit" value="Zapisz" class="btn btn-default" />
                </td>
            </tr>
        }
    </table>
}

